body {
    padding: 15px;
    background-color: #FEE8D6;
    /* desert sand */
}

main {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: Georgia, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: Georgia, sans-serif;
    font-size: 2em;
    margin-top: 35px;
}

h3 {
    font-family: Georgia, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
}

table+h3 {
    margin-top: 20px;
}

.results {
    background-color: oldlace;
    margin-left: 75px;
}

.results th,
.results td {
    text-align: left;
    padding: 8px;
    font-size: 1.2em;
}

.results th+th,
.results td+td {
    border-left: 1px solid #ddd;
}

.results th {
    border-bottom: 1px solid black;
}

.results td {
    border-bottom: 1px solid #ddd;
}

p,
code {
    /*font-family: Georgia, serif;*/
    font-size: 1.5em;
}

p {
    line-height: 1.5em;
}

pre {
    background-color: oldlace;
    max-width: 1000px;
    overflow: auto;
    font-size: 1.5em;
}

.syntax {
    background-color: transparent;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    font-family: monospace, Arial, sans-serif;
    font-weight: bold;
}

.question-form p {
    display: flex;
}

.question {
    margin: 3px;
}

.question p {
    margin: 0;
}

.question-form p input {
    padding: 8px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 3em;
    height: 1em;
    align-self: center;
}

.erd-data {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 40% 40%;
    grid-gap: 25px;
}

.img-holder {
    grid-row: 2, 3;
    height: 200px;
}

.erd-data image {
    max-height: 100%;
}

#table-1 {
    grid-row: 1, 2;
}

#table-2 {
    grid-row: 1, 2;
}

#table-3 {
    grid-row: 1, 2;
}

.multi-table {
    background-color: oldlace;
    margin-top: 10px;
}

.multi-table th,
.multi-table td {
    text-align: left;
    padding: 8px;
    font-size: .75em;
}

.multi-table th+th,
.multi-table td+td {
    border-left: 1px solid #ddd;
}

.multi-table th {
    border-bottom: 1px solid black;
}

.multi-table td {
    border-bottom: 1px solid #ddd;
}