
@font-face {
    font-family: 'ralewaysemibold';
    src: url('https://cit111byui.github.io/text/fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('https://cit111byui.github.io/text/fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 30px;
    background-color: lightgray;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    width: 100%;
    margin: 0 auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

#text {
  width: 75%;
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 60px 0px 60px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: white;
}

h1 {
    font-family: 'ralewaysemibold', Helvetica, sans-serif;
    font-size: 2.25em;
    margin-top: 40px;
}

h2 {
    font-family: 'ralewaysemibold', Helvetica, sans-serif;
    font-size: 1.75em;
    margin-top: 35px;
}

h3 {
    font-family: 'ralewaysemibold', Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
}

table+h3 {
    margin-top: 20px;
}
.results {
    background-color: #F5F5F5;
    margin-left: 75px;
}

.results th,
.results td {
    text-align: left;
    padding: 8px;
    font-size: 1.2em;
}

.results th+th,
.results td+td {
    border-left: 1px solid #ddd;
}

.results th {
    border-bottom: 1px solid black;
}

.results td {
    border-bottom: 1px solid #ddd;
}

p,
code {
    font-family: Georgia, serif;
    font-size: 1.1em;
    line-height: 1.6;
    padding: 10px 0;
}

footer p {
    font-size: .6em;
}

#text p {
    line-height: 1.5em;
}

#text p {
    font-size: 1.2em;
}
#text img {
    width: 100%;
}

pre {
    background-color: #F5F5F5;
    max-width: 1000px;
    overflow: auto;
    font-size: 1.2em;
}

.syntax {
    background-color: #F5F5F5;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    font-family: monospace, Arial, sans-serif;
    font-weight: bold;
}

.question-form p {
    display: flex;
}

.question {
    margin: 3px;
}

.question p {
    margin: 0;
}

.question-form p input {
    padding: 8px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 3em;
    height: 1em;
    align-self: center;
}

.erd-data {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-gap: 25px;
    font-size: 1.5em;
}

.img-holder {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 50%;
    padding-left: 30px;
}

#table-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

#table-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
}

#table-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}

.multi-table {
    background-color: #F5F5F5;
    margin-top: 10px;
}

.multi-table th,
.multi-table td {
    text-align: left;
    padding: 8px;
    font-size: .75em;
}

.multi-table th+th,
.multi-table td+td {
    border-left: 1px solid #ddd;
}

.multi-table th {
    border-bottom: 1px solid black;
}

.multi-table td {
    border-bottom: 1px solid #ddd;
}

.narrowimg {
    width: 70%;
    display: block;
    margin: 0 auto;
}



